@use "../../assets/styles/index.scss" as *;

.drop-down {
    &__container {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        cursor: default;
        display: none;
        z-index: 100;

        &.show {
            display: block;
        }
    }

    &__wrapper {
        position: absolute;
        box-shadow: $bs-3;
        border-radius: $br-1;
        top: 64px;
        right: 0;
        width: auto;
        height: 0;
        overflow: hidden;
        transition: all 0.3s;
        z-index: 1000;

        &:after {
            content: "";
            position: absolute;
            top: -6px;
            right: 16px;
            border-bottom: 6px solid $color-white-1;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
        }

        &.show {
            animation: $anim-1;
            overflow: inherit;
        }
    }
}
