* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    height: fit-content;
    width: fit-content;
}

.divider-top {
    border-top: 0.5px solid #e5e1e1;
}

.divider-bottom {
    border-bottom: 0.5px solid #e5e1e1;
}
