@use "../../assets/styles/index.scss" as *;

.checkbox-custom__wrapper {
    display: flex;
    align-items: center;
    gap: 6px;

    > .checkbox {
        height: 15px;
        width: 15px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:checked {
            accent-color: $primary-color;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $primary-color;
                border-radius: $br-1;
            }

            &:before {
                content: "";
                position: absolute;
                top: -4%;
                left: 31%;
                z-index: 1;
                width: 2px;
                height: 6px;
                border: 2px solid transparent;
                border-bottom-color: $color-white-1;
                border-right-color: $color-white-1;
                background-color: $primary-color;
                transform: rotate(45deg);
            }
        }
    }

    .label {
        color: $text-color-1;
        margin-bottom: 0;
        font-size: $fs-1;

        > label {
            cursor: pointer;
        }
    }
}
