@use "../../../../assets/styles/index.scss" as *;

.change-password-form {
    &__wrapper {
    }

    &__body {
        .field-control {
            margin-bottom: 20px;
        }

        .checbox-control {
            display: flex;
            align-items: center;
            gap: 8px;

            .label {
                color: $text-color-1;
                margin-bottom: 0;
                font-size: $fs-1;
            }
        }
    }
}
