@use "../../../../../../../assets/styles/index.scss" as *;

.column-name {
    color: $primary-color;
    display: flex;
    align-items: center;
    gap: 6px;

    .img-default {
        height: 48px;
        min-width: 48px;
        width: 48px;
        max-width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color-rgb;
        border-radius: $br-100;
    }

    .img {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: $br-100;
    }

    .name-role {
        color: $text-color-3;
        font-family: $f-family-1;
        .name {
            font-weight: $fw-1;
            white-space: pre-wrap;
        }
        .role {
        }
    }
    .icon {
        > svg {
            font-size: 20px;
        }
    }
}
