@use "../../../../assets/styles/index.scss" as *;

.department-form{
    &__wrapper {
        text-align: left;
        .field-control {
            margin-bottom: 20px;
        }

        .position-table__wrapper{
            color: $text-color-2;
            font-size: $fs-1;
            font-family: $f-family-1;

            display: flex;
            flex-direction: column;
            gap: 5px;

            .position-table-row{
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;

                .column-no{
                    flex: 1;
                }
                .column-name{
                    flex: 8;
                }
                .column-code{
                    flex: 3;
                }
                .column-delete{
                    flex: 1;
                }
                .column-is-manager{
                    flex: 2;
                    text-align: right;
                    .checkbox-custom__wrapper {
                        gap: 0;
                        justify-content: right;
                    }
                }
            }
        }
    }
    
    &__actions {
        display: flex;
        gap: 6px;
        justify-content: right;
    }
}
