@use "../../../../../../../../assets/styles/index.scss" as *;

.attendances--summary--table {
    &--column-weekdays {
        &__wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .icon {
                height: 10px;
                width: 10px;
                border-radius: $br-100;

                &.type-1 {
                    background-color: #00b14f;
                }
                &.type-2 {
                    background-color: $primary-color;
                }
                &.type-3 {
                    background-color: #bbbbbb;
                }
                &.type-4 {
                    background-color: #0a84ff;
                }
                &.type-5 {
                    background-color: #00bcd4;
                }
                &.type-6 {
                    background-color: #ff453a;
                }
            }

            &.no-timekeeping {
                background-color: rgba(255, 0, 0, 0.05);
            }

            .morning {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .label {
                    font-weight: $fw-1;
                    color: $text-color-1;
                }
            }

            .afternoon {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .label {
                    font-weight: $fw-1;
                    color: $text-color-1;
                }
            }
        }
    }
}
