@use "../../assets/styles/index.scss" as *;

.select-custom__wrapper {
    height: $h-1;
    width: 100%;
    .MuiFormControl-root {
        position: relative;
        .MuiInputBase-root {
            border-radius: $br-1;
            height: $h-1;
            background-color: $primary-bg-color;

            .MuiSelect-select {
                padding: 8px 16px 8px 32px;
                text-align: left;
                color: $text-color-1;
                font-size: $fs-1;
                font-family: $f-family-1;
            }

            .MuiOutlinedInput-notchedOutline {
                border: 1px solid transparent;
                outline: none;
                transition: all 0.3s;
            }

            &:hover {
                .MuiOutlinedInput-notchedOutline {
                    border-color: $primary-color;
                }
            }
        }
        > svg {
            position: absolute;
            font-size: 18px;
            top: 20px;
            left: 8px;
            transform: translateY(-50%);
            color: $text-color-2;
            z-index: 1;
        }
    }

    &.selected-placeholder {
        .MuiFormControl-root {
            .MuiInputBase-root {
                .MuiSelect-select {
                    color: $text-color-2;
                }
            }
        }
    }

    &.error {
        .MuiFormControl-root {
            .MuiOutlinedInput-notchedOutline {
                border-color: $color-red-1 !important;
                &:focus {
                    border-color: $color-red-1 !important;
                }
            }
            .error-message {
                color: $color-red-1;
                font-size: $fs-1;
                text-align: left;
            }

            > svg {
                color: $color-red-1;
            }
        }
    }
}

.MuiList-root {
    .MuiButtonBase-root.MuiMenuItem-root {
        color: $text-color-1;
        font-size: $fs-1;
    }
}
