@use "../../../../../../../assets/styles/index.scss" as *;


// StatusEmployee Component
.status-emloyee__wrapper {
    padding: 1px 8px;
    border-radius: 20px;

    &.type- {
        &1 {
            color: rgb(0, 177, 79);
            background-color: rgba(0, 177, 79, 0.1);
        }
    }

    .text {
        font-size: 11px;
        font-weight: 400;
    }
}

// StatusUsingHappyTime Component
.status-using-time__wrapper {
    .text {
        color: $text-color-3;
    }
}
