@use "../../../../../../../assets/styles/index.scss" as *;

.MuiDataGrid-root {
    border-radius: 0px !important;
    border: none !important;
    .MuiDataGrid-main {
        .MuiDataGrid-columnHeaders {
            border-radius: 0;
            .MuiDataGrid-columnHeadersInner {
                border-top: $bt-1;
                background-color: $primary-bg-color;
                color: $text-color-1;
                font-size: $fs-1;
                font-family: $f-family-1;

                .MuiDataGrid-columnHeader {
                    border-top: $bt-1 !important;
                    border-left: $bt-1 !important;

                    &:focus-within {
                        outline: none !important;
                    }

                    &.MuiDataGrid-columnHeaderCheckbox {
                        width: 33px !important;
                        min-width: unset !important;
                    }

                    &TitleContainerContent {
                        overflow: unset !important;
                    }

                    .MuiDataGrid-columnHeaderDraggableContainer {
                        .MuiDataGrid-columnHeaderTitleContainer {
                            .MuiDataGrid-columnHeaderTitleContainerContent {
                                .MuiCheckbox-root {
                                    color: #777777;
                                    .MuiSvgIcon-root {
                                        height: 18px;
                                        width: 18px;
                                    }

                                    &:hover {
                                        transition: background-color 0.3s;
                                        background-color: $primary-color-rgb;
                                    }

                                    &.Mui-checked {
                                        color: $primary-color !important;
                                    }
                                }
                            }
                        }
                    }
                    .MuiDataGrid-columnSeparator {
                        display: none;
                    }
                }
            }
        }

        .MuiDataGrid-virtualScroller {
            .MuiDataGrid-virtualScrollerContent {
                .MuiDataGrid-virtualScrollerRenderZone {
                    .MuiDataGrid-row {
                        cursor: pointer;

                        &.Mui-selected {
                            background: #fff9e6;
                            border-color: rgba(0, 0, 0, 0.03);
                        }

                        .MuiDataGrid-cell {
                            border-left: $bt-1;
                            font-family: $f-family-1;
                            overflow: unset !important;

                            &:focus-within {
                                outline: none !important;
                            }

                            .MuiDataGrid-cellContent {
                                font-size: $fs-1;
                                color: $text-color-3;
                            }
                        }

                        .MuiDataGrid-cellCheckbox {
                            width: 33px;
                            min-width: 33px !important;

                            .MuiCheckbox-root {
                                color: #777777;
                                .MuiSvgIcon-root {
                                    height: 18px;
                                    width: 18px;
                                }

                                &:hover {
                                    transition: background-color 0.3s;
                                    background-color: $primary-color-rgb;
                                }

                                &.Mui-checked {
                                    color: $primary-color !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .MuiDataGrid-footerContainer {
        justify-content: right;
        .MuiDataGrid-selectedRowCount {
            display: none !important;
        }
    }
}

// StatusEmployee Component
.status-emloyee__wrapper {
    padding: 1px 8px;
    border-radius: 20px;

    &.type- {
        &1 {
            color: rgb(0, 177, 79);
            background-color: rgba(0, 177, 79, 0.1);
        }
    }

    .text {
        font-size: 11px;
        font-weight: 400;
    }
}


// StatusUsingHappyTime Component
.status-using-time__wrapper {
    .text {
        color: $text-color-3;
    }
}
