@use "../../../../assets/styles/index.scss" as *;

.FaceAttendance {
    &__wrapper {
        width: 100%;
        max-width: 1280px;
        height: 100%;
        margin: auto;

        .content-title {
            text-align: center;
            font-size: 2rem;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .webcam {
            position: relative;

            .capture-frame {
                margin: 0;
                width: 500px;
                height: 500px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 5px solid $primary-color;
            }

            .redict-frame {
                position: absolute;
                border: 5px solid $primary-color;
            }
        }
    }
}