@use "../../assets/styles/index.scss" as *;

.date-picker-custom,
.date-time-picker-custom,
.date-range-picker-custom {
    &__wrapper {
        width: 100%;
        height: auto;

        .label {
            color: $text-color-3;
            width: fit-content;
            padding-bottom: 10px;

            &:hover {
                &+.ant-picker {
                    border-color: $primary-color;
                }
            }

            >label {
                >span {
                    color: $color-red-1;
                    display: none;
                }
            }

            &.required {
                >label {
                    >span {
                        display: unset;
                    }
                }
            }
        }

        &.error {
            .ant-picker {
                border-color: $color-red-1 !important;

                &:focus {
                    border-color: $color-red-1;
                }
            }

            .error-message {
                color: $color-red-1;
                font-size: $fs-1;
                text-align: left;
            }
        }
    }

    &__container {
        width: 100%;
        height: auto;

        .ant-picker {
            width: 100%;
            height: $h-1;
            border: 1px solid transparent;
            background-color: $primary-bg-color;

            &:hover {
                border-color: $primary-color;
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px rgb(255 159 10 / 20%);
            }

            .ant-picker-input {
                >input {
                    font-family: $f-family-1;

                    &::placeholder {
                        color: $text-color-2;
                    }
                }

                .ant-picker-suffix {
                    .anticon {}
                }
            }

            &.ant-picker-focused {
                border-color: $primary-color;
                box-shadow: 0 0 0 2px rgb(255 159 10 / 20%);
            }
        }
    }
}