@use "../../assets/styles/index.scss" as *;

.MuiBox-root {
    height: fit-content;
    width: fit-content;
}

.MuiPaper-root {
    .MuiList-root {
        &.MuiList-padding {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
}
