@use "../../../../assets/styles/index.scss" as *;

.news-categories {
    height: 100%;
    width: 100%;
    padding: 20px;

    .page-title {
        font-size: 1.3rem;
        font-weight: 500;
        color: $text-color-5;
        margin-bottom: 30px;
    }

    .page-body {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;

        .form,
        .table-group {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .form {
            .title {
                font-weight: 400;
                margin-bottom: 20px;
                margin: 0;
            }

            .news-categories-form {
                padding: 20px;

                .category_name {
                    margin-bottom: 20px;
                }

                .submit {
                    max-width: 30%;
                    text-align: right;
                }
            }
        }
    }

    table {
        margin-top: 20px;
    }
}