@use "../../../../../../../../assets/styles/index.scss" as *;

.attendance-settings--mobile-wifi {
    &__wrapper {
    }

    &__control-panel {
        padding: 0 30px;

        .select-item {
        }

        .footer {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
