@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// *variable color
// primary color
$primary-color: #ff9f0a;
$primary-bg-color: #fafafa;

// color text
$text-color-1: #212f3f;
$text-color-2: #999999;

// color
$color-white-1: #ffffff;

// variable font-family
$f-family-1: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$f-family-2: roboto, sans-serif;
$f-family-3: "Poppins", sans-serif;

// variable font-size
$fs-1: 14px;
$fs-2: 20px;

// variable font-weight
$fw-normal: normal;
$fw-bold: bold;
$fw-1: 500;
$fw-2: 700;
$fw-3: 900;

// variable box-shadow
$bs-1: 0 0 1.25rem rgb(31 45 61/8%);
$bs-2: 0 0 0 2px rgba(255, 159, 10, 0.2);

// variable border-radius
$br-1: 5px;
$br-2: 8px;

// variable height
$h-1: 40px;
