@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// *variable color
// primary color
$primary-color: #ff9f0a;
$primary-color-rgb: rgba(255, 159, 10, 0.1);
$primary-bg-color: #fafafa;

// color text
$text-color-1: #212f3f;
$text-color-2: #999999;
$text-color-3: #777777;
$text-color-4: #212529;
$text-color-5: #555555;

// *color

// white
$color-white-1: #ffffff;

// red
$color-red-1: #ff4d4f;

// variable font-family
$f-family-1: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
$f-family-2: roboto, sans-serif;
$f-family-3: "Poppins", sans-serif;

// variable font-size
$fs-icon: 18px;
$fs-0: 12px;
$fs-1: 14px;
$fs-2: 16px;
$fs-3: 20px;

// variable font-weight
$fw-normal: normal;
$fw-bold: bold;
$fw-1: 500;
$fw-2: 700;
$fw-3: 900;

// variable box-shadow
$bs-1: 0 0 1.25rem rgb(31 45 61/8%);
$bs-2: 0 0 0 2px rgba(255, 159, 10, 0.2);
$bs-3: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);

// variable border-radius
$br-1: 5px;
$br-2: 8px;
$br-100: 100%;

// variable height
$h-1: 40px;

// variable background-color
$bg-color-1: #f0fbff;

// variable keyframes
@keyframes showEffect-1 {
    0% {
        opacity: 0;
        scale: 0.7;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

// variable animation
$anim-1: showEffect-1 0.2s ease forwards;
