@use "../../../assets/styles/index.scss" as *;

.choose-workspaces {
    &__wrapper {
        padding: 24px 20px 16px;

        .btn-workspace {
            &__wrapper {
                display: flex;
                height: auto;
                width: 100%;
                border: 1px solid rgba(0, 0, 0, 0.06);
                border-radius: $br-1;
                cursor: pointer;
                padding: 16px 20px;
                align-items: center;
                transition: all 0.3s;

                &:hover {
                    background: $primary-color-rgb;
                    border: 1px solid $primary-color;
                }

                .icon {
                    font-size: 18px;
                    color: $primary-color;
                }
            }

            &__avatar {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            &__text {
                display: flex;
                margin: 0 12px;
                flex-direction: column;
                flex: 1;

                .username {
                    font-size: 14px;
                    color: $text-color-1;
                    font-weight: $fw-1;
                }
                .role {
                    font-size: 14px;
                    color: $text-color-2;
                    font-weight: $fw-1;
                }
            }

            &__no-avatar {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                padding: 6px;
                color: $primary-color;
                background: $primary-color-rgb;
            }
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 20px;
        color: $text-color-1;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__list-workspaces {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__divider {
        margin: 40px 0 16px !important;
        border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
        border-bottom-width: inherit !important;
    }

    &__create {
        display: flex;
        padding: 0 24px;
        gap: 10px;
        color: $primary-color;
        align-items: center;
        cursor: pointer;

        > div {
            display: contents;
            &:hover {
                .text {
                    opacity: 0.7;
                    transition: all 0.3s;
                }
            }

            .icon {
                font-size: 24px;
            }

            .text {
                font-size: 14px;
                font-weight: $fw-1;
                text-transform: uppercase;
            }
        }
    }
}
