@use "../../assets/styles/index.scss" as *;

.modal-custom__actions {
    display: flex;
    gap: 4px;
    padding: 10px 16px;

    .btn-cancel {
        padding: 7px 20px;
        text-transform: inherit;
        background-color: #eeeeee;
        color: $text-color-3;
    }

    .btn-accept {
        padding: 7px 20px;
        text-transform: inherit;
    }
}
