@use "../../../../assets/styles/index.scss" as *;

.news-detail-form {
    .form-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: stretch;

        .title {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .action {
            flex-basis: 100px;

            .btn-custom {
                height: 100%;
            }
        }
    }

    .form-body {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .main {
            flex: 2;

            .news-title {
                margin-bottom: 20px;
            }
        }

        .right-side {
            flex: 1;

            .create-date {
                display: flex;
                justify-content: space-between;
            }

            .input-banner {
                border-radius: 0;

                .input-file__image-preview {
                    border-radius: 0;
                }
            }
        }
    }
}