@use "../../assets/styles/index.scss" as *;

#sidebarMain {
    height: 100%;
    width: 80px;
    background-color: $color-white-1;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
    transition: width 0.1s linear;
    display: flex;
    flex-direction: column;

    .navigator-item {
        &__wrapper {
            > .title {
                opacity: 0.3;
            }

            &.active {
                background-color: $primary-color-rgb;
                color: $primary-color;
            }
        }
    }

    &.show {
        width: 217px;
        opacity: 1;

        .navigator-item {
            &__wrapper {
                .title {
                    display: inherit;
                    opacity: 1;
                }
            }
        }

        .sidebar-main {
            &__actions {
                .btn-logout {
                    height: 56px;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    padding: 0 20px;
                    font-weight: $fw-1;
                    border-top: 1px solid #eeeeee;
                    border-bottom: 1px solid #eeeeee;
                    cursor: pointer;
                    gap: 16px;

                    &:hover {
                        background-color: #eeeeee;
                    }
                    .title {
                        display: inherit;
                    }
                }

                .identifier-code {
                    display: flex;
                }
            }
        }
    }

    .navigator-item {
        &__wrapper {
            height: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0 16px 0 24px;
            gap: 20px;
            color: $text-color-2;
            font-size: $fs-1;
            transition: all 0.2s;

            &:hover {
                background-color: #eeeeee;
                color: $primary-color;
            }

            > .title {
                display: none;
            }

            > svg {
                font-size: 20px;
            }
        }
    }

    .sidebar-main {
        &__actions {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-size: $fs-1;
            color: $text-color-3;

            .btn-logout {
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: #eeeeee;
                }

                .title {
                    display: none;
                }

                > svg {
                    font-size: 16px;
                    opacity: 1 !important;
                }
            }

            .identifier-code {
                height: 70px;
                padding: 10px 20px;
                box-sizing: border-box;
                flex-direction: column;
                gap: 10px;
                display: none;

                .title {
                }

                > div {
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;

                    .code {
                        color: $text-color-1;
                        font-weight: $fw-1;
                    }

                    > svg {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.logout-modal-content__wrapper {
    .title {
    }
}
