@use "../../../assets/styles/index.scss" as *;

.login-form {
    &__wrapper {
        width: 100%;
        height: auto;

        .input-phone {
            margin-bottom: 30px;
        }

        .forgot-password {
            display: block;
            font-size: 14px;
            margin-top: 20px;
            color: $primary-color;
            width: 100%;
            text-align: right;
            cursor: pointer;
        }

        .tag-redirect {
            display: block;
            font-size: 14px;
            margin-top: 20px;
            color: #212f3f;
            width: 100%;
            text-align: right;
            cursor: pointer;
            text-align: center;

            > a {
                color: #ff9f0a;
            }
        }
    }
    &__title {
        font-size: 20px;
        font-weight: $fw-2;
        padding-top: 60px;
        padding-bottom: 48px;
        color: $text-color-1;
    }
}
