@use "../../../assets/styles/index.scss" as *;

.set-password-form {
    &__wrapper {
    }

    &__header {
        padding-top: 24px;
        .tag-redirect {
            display: flex;
            width: auto;
            align-items: center;
            font-size: 14px;
            color: $primary-color;
            width: 100%;
            cursor: pointer;
            text-align: center;
            gap: 4px;
            font-weight: $fw-1;
        }
    }

    &__title {
        padding: 60px 0 20px;
        color: $text-color-1;
    }

    &__container {
        .input-item {
            margin-bottom: 30px;
        }
    }
}
