@use "../../assets/styles/index.scss" as *;

.workspaces-layout {
    &__wrapper {
        height: 100vh;
        width: 100%;
        background: $primary-bg-color;
        padding-top: 170px;
    }

    &__container {
        border-radius: $br-1;
        background: $color-white-1 !important;
        width: 480px;
        margin: 0 auto;
        height: auto;
    }
}
