@use "../../../../../../../assets/styles/index.scss" as *;

.view {
    &__wrapper {
    }

    &-note {
        &__wrapper {
            margin-top: 16px;
            padding-bottom: 16px;

            .content {
                .note {
                    color: $text-color-3;
                }
            }
        }
    }
}
