@use "../../../../../../assets/styles/index.scss" as *;

.news-list-table {
    .news-title-cell {
        .news-title {
            margin-bottom: 10px;
        }

        .news-index {
            font-size: 1rem !important;
            display: flex;
            align-items: center;
            gap: 10px;

            svg {
                font-size: 1rem
            }

            svg:nth-child(1) {
                color: $text-color-6;
            }

            svg:nth-child(2) {
                color: $text-color-9;
            }

            svg:nth-child(3) {
                color: $text-color-10;
            }
        }
    }

    .quantity-news {
        margin: 30px 30px 15px 30px;
        color: $text-color-1;

        .quantity {
            font-weight: $fw-1;
        }
    }
}