@use "../../../../../assets/styles/index.scss" as *;

.company--branches-view {
    &__wrapper {
        width: 100%;
        height: auto;
        padding: 20px 30px;

        .none-branches__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            > img {
                width: 332px;
                height: 332px;
            }

            > .description {
                font-size: $fs-1;
                color: $text-color-1;
            }

            > .btn {
                margin-top: 28px;
                margin-bottom:24px;
            }
        }
    }
}
