@use "../../../../../assets/styles/index.scss" as *;


.shift-assignments__wrapper{
    width: 100%;
    height: 100%;
    padding: 20px 30px;

    .shift-assignments__control-panel{
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: space-between;
        gap: 10px;
        height: min-content;
        align-content: stretch;

        .select-custom__wrapper{
            flex: 1;
        }

        .input-custom__wrapper{
            flex: 2;
        }

        .btn-custom{
            flex: 1;
        }
    }
    .shift-assignments__table{
        margin-top: 20px;
        .table-header{
            display: flex;
            margin-bottom: 10px;
            span{
                flex-grow: 1;
            }
        }
        .column-shift-type{
            height: 22px;
            font-size: $fs-1;
            color: $primary-color;
            background-color: $primary-color-rgb;
            padding: 4px 12px;
            box-sizing: content-box;
            border-radius: 12px;
        }
    }
}