@use "../../../../../../../../assets/styles/index.scss" as *;

.attendance-settings--mobile-wifi {
    &__table {
        &-column-others {
            .icon {
                position: relative;
                color: $text-color-3;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $br-100;
                transition: background-color 0.3s;

                > svg {
                    font-size: 20px;
                }

                &:hover {
                    background-color: $primary-color-rgb !important;
                }
            }

            // style for component InnerButtonOthers
            &--inner-button-others {
                padding: 10px 12px;
                font-size: $fs-1;

                > .btn {
                    color: $text-color-5;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .icon {
                        > svg {
                            font-size: 14px;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}
