@use "../../assets/styles/index.scss" as *;

.main-layout {
    &__wrapper {
        height: 100vh;
        width: 100%;
        background-color: $primary-bg-color;
    }

    &__content {
        width: 100%;
        height: 100%;
        padding-top: 63px;
        display: flex;
    }
}
