@use "../../../../../../../../assets/styles/index.scss" as *;

.attendance-settings--mobile-devices {
    &__wrapper {
    }

    &--table {
        .quantity-ipAddress {
            padding: 30px 30px 15px 30px;
            color: $text-color-1;

            .quantity {
                font-weight: $fw-1;
            }
        }
    }
}
