@use "../../assets/styles/index.scss" as *;

.authentication {
    &__wrapper {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        overflow-y: scroll;
        text-align: center;
        background-color: $color-white-1;

        .brand-img {
            width: 168px;
            height: 40px;
            margin-top: 20px;
            margin-bottom: 16px;
            object-fit: contain;
            padding: 6px;
        }
    }
    &__slogan {
        font-size: 25px;
        font-weight: $fw-1;
        color: $text-color-1;
        margin-bottom: 24px;
    }

    &__container {
        position: relative;
        margin: auto;
        width: 575px;
        min-height: 572px;
        padding-left: 88px;
        padding-right: 88px;
        border-radius: $br-1;
        background-color: $color-white-1;
        box-shadow: $bs-1;
        z-index: 10;
        margin-bottom: 80px;
    }

    &__banner {
        height: 410px;
        width: 100%;
        background-image: url("https://panel.happytime.vn/static/media/login_banner.8de70b9593d90ec97f49.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        position: fixed;
        bottom: 0;
    }
}
