@use "../../../../assets/styles/index.scss" as *;

.attendances--setting-form {
    &__wrapper {
        width: 100%;
        height: auto;
        font-size: $fs-1;
        color: $text-color-1;

        > .description {
            margin-bottom: 24px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .radio-control {
            display: flex;
            align-items: center;
            gap: 8px;

            .label {
                font-weight: $fw-1;
                > label {
                    cursor: pointer;
                }
            }

            input[type="radio"] {
                border: 2px solid white;
                box-shadow: 0 0 0 1px $primary-color;
                appearance: none;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background-color: #fff;
                transition: all ease-in 0.2s;

                &:checked {
                    background-color: $primary-color;
                }
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: right;
    }
}
