@use "../../assets/styles/index.scss" as *;

.radioGroup{
    &__wrapper{
        > .label {
            padding-bottom: 10px;
            color: $text-color-3;
            font-size: $fs-1;
        }

        .control{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}