@use "../../assets/styles/index.scss" as *;

.radioGroup{
    &__wrapper{
        .control{
            display: flex;
            align-items: center;
            gap: 8px;

            label {
                pointer-events: all;
                font-weight: $fw-1;
                cursor: pointer;
            }

            input[type="radio"] {
                cursor: pointer;
                border: 2px solid white;
                box-shadow: 0 0 0 1px $primary-color;
                appearance: none;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background-color: #fff;
                transition: all ease-in 0.2s;

                &:checked {
                    background-color: $primary-color;
                }
            }
        }
    }
}