@use "../../../../assets/styles/index.scss" as *;


.shift-assignment-form__wrapper{
    .time-apply-group{
        display: flex;
        gap: 10px;
        .radio-box__wrapper{
            flex: 1;
        }
    }
}