@use "../../../../assets/styles/index.scss" as *;

.attendances-setting--methods-form {
    &__wrapper {
        width: 100%;
        height: auto;
        font-size: $fs-1;

        .timekeeping-title {
            color: $text-color-1;
            font-weight: $fw-1;
            display: flex;
            align-items: center;
            gap: 10px;

            > svg {
                font-size: 16px;
                color: $text-color-2;
            }
        }

        .timekeeping-text-large {
            color: $text-color-1;
            font-weight: 400;

            > .btn {
                color: $primary-color;
                font-weight: $fw-1;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .timekeeping-text-small {
            display: block;
            color: $text-color-3;
            font-size: 12px;
            margin-top: 4px;
        }
    }

    &__actions {
        padding-top: 16px;
        text-align: right;
        text-align: -webkit-right;
    }
}
