@use "../../../../../../../assets/styles/index.scss" as *;

.column-role {
    &__wrapper {
        height: 22px;
        font-size: $fs-1;
        color: #0a84ff;
        background-color: #e7f3ff;
        padding: 4px 12px;
        box-sizing: content-box;
        border-radius: 12px;
    }
}
