@use "../../../../assets/styles/index.scss" as *;

.permission-form {
    &__wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .inputs{
            width: 50%;

            label{
                color: #777777
            }
        };

        .visual{
            width: 50%;
        };

        .MuiDataGrid-root{
            :hover{
                background-color: transparent;
            }
            .MuiDataGrid-row{
                transition: max-height .5s linear;
                cursor: auto;
                .MuiDataGrid-cell{
                    padding: 0;
                    overflow: scroll;
                }
            }
        }


        .feature-cell{
            &__wrapper{
                flex: 1;
                padding: 0;
                width: 100%;

                .btn-custom {
                    width: auto;
                    padding: 0px 10px;
                    text-transform: capitalize;
                    background: none;
                    font-weight: normal;
                    color: $text-color-4;
                    svg{
                        font-size: 16px;
                    }
                }

                .feature, button{
                    height: 50px;
                    overflow-wrap: normal;
                }

                .feature{
                    display: flex;  
                    align-items: center;
                    padding-left: 35px;
                    border-top: $bt-1;
                }
                .feature:nth-child(2n){
                    background-color: #fafafa;
                }
            }
        }    
        .access-cell{
            &__wrapper{
                flex: 1;
                height: 100%;

                .group-access,.access{
                    height: 50px;
                    display: flex;
                    align-items: center;
                    padding: 0px 10px ;
                }

                .access{
                    border-top: $bt-1;
                }
            }
        }
    }
}
