@use "../../../../assets/styles/index.scss" as *;

.permission-form {
    &__wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;

        .inputs{
            flex: 1;

            label{
                color: #777777
            }
        };

        .visual{
            flex: 1;
        };

        .MuiDataGrid-root{
            :hover{
                background-color: transparent;
            }
            .MuiDataGrid-row{
                transition: max-height .5s linear;
                cursor: auto;
                .MuiDataGrid-cell{
                    padding: 0;
                    overflow: scroll;
                }
            }
        }


        .feature-cell{
            &__wrapper{
                flex: 1;
                padding: 0;
                width: 100%;

                .btn-custom {
                    width: auto;
                    padding: 0px 10px;
                    text-transform: capitalize;
                    background: none;
                    font-weight: normal;
                    color: $text-color-4;
                    svg{
                        font-size: 16px;
                    }
                }

                .feature, button{
                    height: 50px;
                    overflow-wrap: normal;
                }

                .feature{
                    display: flex;  
                    align-items: center;
                    padding-left: 35px;
                    border-top: $bt-1;
                }
                .feature:nth-child(2n){
                    background-color: #fafafa;
                }
            }
        }    
        .access-cell{
            &__wrapper{
                flex: 1;
                height: 100%;

                .group-access,.access{
                    height: 50px;
                    display: flex;
                    align-items: center;
                    padding: 0px 10px ;
                }

                .access{
                    border-top: $bt-1;
                }
            }
        }
        .PermissionVisual{
            &__wrapper{
                .card{
                    border: $bt-1;
                    border-radius: $br-2;
                    padding: 16px 12px;

                    .title{
                        color: $text-color-8;
                        font-size: 16px;
                        line-height: 1.5715;
                        font-weight: 700;
                        margin-bottom: 16px;
                    }
                    
                    .info{
                        font-size: 14px;
                        color: $text-color-5;
                        strong{
                            font-weight: 700;
                            color: $text-color-8;
                        }
                    }
                    .feature{
                        &__container{
                            display: flex;
                            flex-direction: row;
                            margin-top: 10px;
                            gap: 10px;

                            &__badge{
                                max-width: fit-content;
                                font-size: 16px;
                                line-height: 1.5715;
                            }
                        }
                    }
                }
            }
        }
    }
}
