@use "../../../../assets/styles/index.scss" as *;

.shiftForm__wrapper{
    .actions {
        display: flex;
        justify-content: right;
        gap: 8px;
        padding-top: 16px;

        .btn {
            text-transform: unset;
            padding: 0 16px;

            &--cancel {
                background-color: #eeeeee;
                color: $text-color-3;
            }
        }
    }
    .group{
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .group-number{
        input{
            width: 80px;
        }
    }
}